@import url("https://fonts.googleapis.com/css?family=Public+Sans:300,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%);
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}

/* Body Styling */
body {
  font-size: 1rem;
  font-family: "Public Sans", sans-serif;
  overflow: auto;

}

.button {
  background-image: linear-gradient(
    to right,
    var(--limeGreen),
    var(--brightCyan)
  );
  padding: 0.75rem 2rem;
  color: var(--white);
  text-decoration: none;
  border-radius: 35px;
  font-weight: 300;
  cursor: pointer;
}

.button:hover {
  opacity: 0.85;
}

/*Navigation links*/
.nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: var(--white);
  padding: 1.5rem 10rem 0rem 10rem;
}
.nav_links {
  display: flex;
  list-style-type: none;
}
.nav_links li {
  margin: 0 0.9rem;
}
.nav_links a {
  text-decoration: none;
  color: var(--grayishBlue);
  font-weight: 300;
  font-size: 0.9rem;
  transition: transform 250ms ease-in-out;
}
.nav_links a:after {
  display: block;
  content: "";
  height: 5px;
  background-image: linear-gradient(
    to right,
    var(--limeGreen),
    var(--brightCyan)
  );
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
  margin-top: 1.5rem;
}
.nav_links a:hover {
  color: var(--darkBlue);
}
.nav_links a:hover:after {
  transform: scaleX(1);
}

.nav_hamburguer {
  display: none;
  border: none;
  outline: none;
  background: transparent;
}

@media screen and (max-width: 1000px) {
  .nav {
    padding: 1.5rem 1rem 0rem 1rem;
    align-items: baseline;
  }
}

@media screen and (max-width: 745px) {
  .nav {
    padding: 1.5rem 1rem 1rem 1rem;
    align-items: center;
    z-index: 15;
    position: fixed;
    width: 100%;
  }

  .nav_links {
    display: none;
  }
  .nav_button {
    display: none;
  }

  .nav_hamburguer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 25px;
    width: 25px;
    cursor: pointer;
  }

  .nav_line1,
  .nav_line2,
  .nav_line3 {
    width: 20px;
    height: 2px;
    background-color: var(--darkBlue);
    transition: all 0.5s ease-in-out;
  }

  .nav_hamburguer:hover {
    opacity: 0.7;
  }

  .change .nav_line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .change .nav_line2 {
    opacity: 0;
  }
  .change .nav_line3 {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .nav_links--show {
    background-color: var(--white);
    display: block;
    position: fixed;
    padding: 2rem 2rem;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    top: 15%;
    left: 0;
    width: calc(100% - 2rem);
    margin-left: 1rem;
    z-index: 15;
  }

  .nav_links a {
    color: var(--darkBlue);
    font-weight: 400;
    font-size: 1.1rem;
  }

  .nav_links a:after {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .Wrapper-mobile:after {
    content: "";
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0;
    background: linear-gradient(to bottom, var(--darkBlue), white);
    opacity: 0.5;
    z-index: 11;
  }
}

/* Header styling */
.top {
  background-color: var(--veryLightGray);
  display: flex;
  justify-content: space-between;
}

.top_info {
  width: 45%;
  padding-left: 10rem;
  align-self: flex-start;
  margin-top: 10rem;
}

.top_title {
  color: var(--darkBlue);
  font-weight: 300;
  font-size: 3.3rem;
  padding-bottom: 1.5rem;
}

.top_text {
  color: var(--grayishBlue);
  font-size: 1.1rem;
  padding-bottom: 4rem;
  line-height: 1.5;
}

.top_img {
  width: 55%;
  position: relative;
  overflow: hidden;
}

.top_mobileImg {
  width: 100%;
  top: -115px;
  left: 117px;
  position: relative;
  z-index: 2;
}

.top_background {
  position: absolute;

  top: -269px;
  left: -42px;
  z-index: 1;
}

.top_background-mobile {
  display: none;
}
@media screen and (max-width: 1000px) {
  .top {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .top_info {
    width: 100%;
    padding: 0 1rem 0 1rem;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 3rem;
  }

  .top_img {
    width: 100%;
    order: -1;
    text-align: center;
  }

  .top_mobileImg {
    left: 0;
    top: -70px;
    width: 80%;
  }

  .top_background {
    display: none;
  }
  .top_background-mobile {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
  }
}
@media screen and (max-width: 600px) {
  .top_title {
    font-size: 2.5rem;
  }

  .top_text {
    font-size: 1rem;
    padding-bottom: 2rem;
  }
}

/* Body contents*/

.content {
  background-color: var(--lightGrayishBlue);
  display: flex;
  padding: 5rem 10rem 2rem 10rem;
  flex-direction: column;
  position: relative;
  top: -250px;
}

.content_title {
  color: var(--darkBlue);
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 1.5rem;
}

.content_text {
  color: var(--grayishBlue);
  width: 60%;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.content_imgWrapper {
  width: 100%;
}
.content_imgWrapper img {
  width: 70px;
}

.content_list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.content_item {
  max-width: 244px;
  margin-bottom: 2rem;
}

.content_subtitle {
  color: var(--darkBlue);
  font-weight: 400;
  font-size: 1.4rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.content_subtext {
  color: var(--grayishBlue);
  line-height: 1.6;
  font-size: 0.95rem;
  width: 92%;
}

@media screen and (max-width: 1200px) {
    .content{
        top: -70px;
    }
  .content_list {
    justify-content: space-around;
  }
}

@media screen and (max-width: 1100px) {
    .content{
        top: 0px;
    }
 
}

@media screen and (max-width: 1000px) {
  .content {
    text-align: center;
    padding: 7rem 1rem 4rem 1rem;
   }

  .content_text {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
  .content_list {

    justify-content: center;
  }
}

@media screen and (max-width: 751px) {
  .content_text {
    width: 100%;
  }

  .content_subtext{
      margin: 0 auto;
  }
}




/*Articles column */

.articles{
    background-color: var(--veryLightGray);
      padding: 5rem 10rem 4rem 10rem;
      margin-top:-250px;
      ;

}

.articles_Wrapper{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
 }

.articles_item{
    max-width: 244px;
    background-color: var(--white);
    margin-bottom: 1rem;
 }

.articles_imgWrapper{
    height: 162px;
    overflow: hidden;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
 }

.articles_imgWrapper img{
    width: 100%;
}

.articles_author{
    color: var(--grayishBlue);
    font-size: 0.6rem;
    margin-top: 1rem;
    padding-left: 1rem;
}

.articles_subtitle{
  color: var(--darkBlue);
  font-weight: 500;
  padding: 1rem 0;
  padding-left: 1rem;

}

.articles_subtext{
  color: var(--grayishBlue) ;
  font-size: 0.7rem;
  line-height: 1.5;
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
}


@media screen and (max-width:1200px){

  
  .articles{
    padding: 2rem 2rem 2rem 2rem;
    margin-top:-12px;
   }
}

@media screen and (max-width:1000px){

  .articles{
    padding: 2rem 2rem 2rem 2rem;
    margin-top:0px;
   }

  .articles_Wrapper{
    justify-content: center;
  }
  .articles_item{
    margin: 1rem;
  }
}

@media screen and (max-width:745px){
  .articles h2{
    text-align: center;
  }
}


/*Footer*/

.footer {
  background-color: var(--darkBlue);
  padding: 3rem 10rem 2rem 10rem;
  color: var(--white);
  display: grid;
  position: relative;
  grid-template-columns: 0.3fr 0.6fr 0.6fr 1fr;
  grid-column-gap: 4rem;
  grid-template-areas:
    "logo col1 col2 input"
    "links col1 col2  copy";
}

.footer ul {
  list-style-type: none;
}

.footer a {
  color: var(--verylightgray);
  text-decoration: none;
 }

.footer a:hover {
  opacity: 0.7;
}

.footer_col1 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 2rem;
  grid-area: logo;
}

.footer_links {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.1rem;
  grid-area: links;
}

.footer_ul1 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.8rem;
  grid-area: col1;
  margin-left: 3rem;
  font-weight: 300;
}

.footer_ul2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  font-size: 0.8rem;
  grid-area: col2;
  font-weight: 300;
}

.footer_contact {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-bottom: 1rem;
  grid-area: input;
}

.footer_copyright {
  color: var(--grayishBlue);
  grid-area: copy;
   font-size: 0.8rem;
   text-align: right;
}

@media screen and (max-width:1000px){
	.footer{
  padding: 3rem 2rem 2rem 2rem;
	}
}


@media screen and (max-width:840px){
  .footer{
    grid-column-gap: 1rem;
  }
}

@media screen and (max-width: 700px){
.footer{
  grid-template-areas:
  "logo logo logo logo"
  "links links links  links"
  "col1  col1 col1 col1"
  "col2  col2 col2 col2"
  "input  input input input"
  "copy  copy copy copy"
  ;
  justify-items: center;
  
 }

.footer_links {
  width: 45%;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.footer_ul1{
  margin-left: 0rem;
   align-items: center;
}

.footer_ul2{
  align-items: center;
}

.footer_ul1 li, .footer_ul2 li{
  margin: 0.4rem 0;
  font-size: 0.9rem;

}

.footer_contact {
margin-top: 2rem;
margin-bottom: 2rem;
}

}

.attribution {
  background-color: var(--darkBlue);
  font-size: 11px;
  text-align: center;
  color: var(--white);
}
.attribution a {
  color: var(--limeGreen);
  text-decoration: none;
}
